/* Universal Selector */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Element Slectors */
li{
    display: inline-block;
    margin-left: 25px;
}

h1{
   font-size: 30px;
   font-size: 3vw;
   padding-top:50px
}

p{
   padding-top: 20px;
   font-size: 28px;
   font-size:2.25vw;
}

a{
   color:#ffffff;
}

header{
    height:0px;
    padding: 0 0 55%;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 2px;
    background-image: url("../images/a colorful planet.png");
    background-size: cover;
    background-position: center;
    font-family:'Courier New', Courier, monospace;
    font-size: 4vw;
    color: #ffffff;
    text-align: center;
 }

 nav{
    padding-top: 15px;
    margin-right: 0px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5vw;
 }

 section {
    
    width: 100%;
    display: inline-block;
    margin-bottom: 2px;
    font-family: 'Courier New', Courier, monospace;
    color: #000000;
    overflow: auto;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right:50px
}

section.about {
   background-color: #88d6f1;
}

section.work {
   background-color: #ffcdaf;
}

section.contact {
   margin-bottom: 20px;
   background-color: #d9fbd7;
}

footer{
   font-family: 'Courier New', Courier, monospace;
   text-align: center;
   padding: 20px
}


/* Place image on left side of container */
.float-left {
   float: left;
   margin-right: 25px;
}

/* Place image on right side of container */
.float-right {
   float: right;
}
.about img {
   max-width:40%;
   height:auto;
   display:block;
   flex-wrap: wrap;
   margin:5px;
   border:5px solid #ffffff;
}

.contact img{
   max-width:20%;
   height:auto;
   display:block;
   flex-wrap: wrap;
   margin:50px 40% 0 40%
   }

.contact a{
   color:black
}

.contact ul{
   text-align: center;
   padding-top: 75px;
   
}

.contact li:not(:first-child) {
   padding-left: 30%;
}

.row {
   display: flex;
   flex-wrap: wrap;
 }
 
 /* Create two equal columns that sits next to each other */
 .column {
   flex: 50%;
 }
 
 .column img {
   margin-top: 8px;
  
 }

 /* Media Queries */
 @media screen and (min-width: 1150px) and (min-height:538px){
    #name{
        margin-left: 45px;
        text-align: left;
        position: absolute;
        top:400px;
        left:30px;
     }
     #about{
        position: absolute;
        top:23%;
        right:47%;
     }
     #contact{
        position: absolute;
        top:55%;
        right:11%;
     }
     #work{
        position: absolute;
        top:28%;
        left:12%;
     }
}
@media screen and (max-width: 720px){
   .contact li:not(:first-child) {
      padding-left: 10%;
   }
}
@media screen and (max-width: 440px){
   .contact li:not(:first-child) {
      padding-left: 2%;
   }
}
