/* Universal Selector */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Element Slectors */
li{
    display: inline-block;
    margin-left: 25px;
}

h1{
   font-size: 30px
}

p{
   padding-top: 20px;
   font-size: 14px;
   line-height: 20px;
}

a{
   color:#ffffff;
}

header{
    height:0px;
    padding: 0 0 55%;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 2px;
    background-image: url("../images/a colorful planet.png");
    background-size: cover;
    background-position: center;
    font-family:'Courier New', Courier, monospace;
    font-size: 4vw;
    color: #ffffff;
    text-align: center;
 }

 nav{
    padding-top: 15px;
    margin-right: 0px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5vw;
 }

 section {
    height:0px;
    padding: 30px 30px 50%;
    width: 100%;
    display: inline-block;
    margin-bottom: 2px;
    font-family: 'Courier New', Courier, monospace;
    color: #000000;
}

section.about {
   background-color: #88d6f1;
}

section.work {
   background-color: #ffcdaf;
}

section.contact {
   margin-bottom: 20px;
   background-color: #d9fbd7;
}

footer{
   font-family: 'Courier New', Courier, monospace;
   text-align: center;
   padding: 20px
}


/* Place image on left side of container */
.float-left {
   float: left;
   margin-right: 25px;
}

/* Place image on right side of container */
.float-right {
   float: right;
   margin-left: 25px;
}
.about img {
   max-height:300px;
   padding-bottom: 5px;
   display:block;
   flex-wrap: wrap;
}

.contact img{
   max-height:100px;
   display: block;
  margin-left: auto;
  margin-right: auto;
}

.contact ul{
   text-align: center;
   padding-top: 75px;
   
}

 /* Media Queries */
 @media screen and (min-width: 1150px) and (min-height:538px){
    #name{
        margin-left: 45px;
        text-align: left;
        position: absolute;
        top:400px;
        left:30px;
     }
     #about{
        position: absolute;
        top:23%;
        right:47%;
     }
     #contact{
        position: absolute;
        top:55%;
        right:11%;
     }
     #work{
        position: absolute;
        top:28%;
        left:12%;
     }
}
